.goods-section {
  margin-top: 70px;
}

.goods-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.group-title {
  height: 40px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-title p {
  font-size: x-large;
  font-weight: 300;
  color: rgb(91, 91, 91);
}
